{% extends 'base.html.twig' %}

{% block title %}Locality index{% endblock %}

{% block body %}
    <h1>Locality index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Postal_code</th>
                <th>Locality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for locality in localities %}
            <tr>
                <td>{{ locality.id }}</td>
                <td>{{ locality.postalCode }}</td>
                <td>{{ locality.locality }}</td>
                <td>
                    <a href="{{ path('locality_show', {'id': locality.id}) }}">show</a>
                    <a href="{{ path('locality_edit', {'id': locality.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('locality_new') }}">Create new</a>
{% endblock %}
