{% block title %}Fiche d'un lieu{% endblock %}

{% block body %}
    <article>
        <h1>{{ location.designation }}</h1>
        <address>
            <p>{{ location.address }}</p>
            <p>{{ location.locality.postalCode }} 
               {{ location.locality.locality }}
            </p>

            {% if location.website %}
            <p><a href="{{ location.website }}" target="_blank">{{ location.website }}</a></p>
            {% else %}
            <p>Pas de site web</p>
            {% endif %}
            
            {% if location.phone %}
            <p><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
            {% else %}
            <p>Pas de téléphone</p>
            {% endif %}
        </address>
        
        <h2>Liste des spectacles</h2>
        <ul>
        {% for show in location.shows %}
            <li>{{ show.title }}</li>
        {% endfor %}
        </ul>
{% endblock %}